<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${report.subject}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p>
    Hello,
</p>
<p>
    <span th:text="${report.packageName}"/>-<span th:text="${report.ref}"/> build
    <span th:text="${report.successs}? succeeded : failed"/>.<br/>
    <span th:text="${#dates.format(report.buildDate)}"/>
    build finished on status <span th:text="${report.status}"/>.
</p>
<p>Build logs:</p>
<table>
    <tr>
        <th>Erlang</th>
        <th>Log</th>
        <th>Success</th>
        <th>Download url</th>
    </tr>
    <tr th:each="result : ${report.results}">
        <td th:text="${result.key}"></td>
        <td th:text="${result.value.message}"></td>
        <td th:text="${result.value.result}"></td>
        <td th:text="${result.value.result}? ${host + '/download/' + result.value.buildId} : 'no artifact'"></td>
    </tr>
</table>
<p>
    Regards, <br/>
    <em>Coon</em>
</p>
</body>
</html>